body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* font-family: Quattrocento; */
    /* font-family: 'Open Sans', sans-serif; */
    font-family: 'Cinzel', serif;
    font-weight: 600;
    overflow-x: hidden;
    /* font-family: 'Tinos', serif; */
    /* font-family: 'Playfair Display SC', serif; */
}

/* iframe modal ----------------------------------------------- */

.close-button-wrapper {
    /* position: absolute; */
    /* top: 20px; */
    /* right: 20px; */
    display: flex;
    align-items: center;
    justify-content: flex-end;
    width: 60vw;
    margin-bottom: 20px;
    transform: translate(-50px,100px);
    transition: 500ms all;
    opacity: 0;
 }

 /* .close-button {
    background-color: white;
    box-shadow: 0px 0px 10px black;
    -webkit-box-shadow: 0px 0px 10px black;
    -moz-box-shadow: 0px 0px 10px black;
    padding: 7.5px 15px;
    border-radius: 50%;
    color: black;
    font-weight: 100;
    font-family: helvetica neue, sans-serif;
    font-size: 2em;
    cursor: pointer;
  } */
  .shadow-modal {
    box-shadow: 0px 0px 10px black; 
    -webkit-box-shadow: 0px 0px 10px black; 
    -moz-box-shadow: 0px 0px 10px black; 
  }

  .outer-modal {
    font-family: 'trajan-pro-3';
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgba(255, 255, 255, .9);
    z-index: 5678;
  }
  .modal {
    position: relative;
    width: 1049px;
    min-width: 275px;
    height: 590px;
    display: flex;
    flex-direction: column;
    align-items: center;
    transition: 500ms all;
    opacity: 0;
    transform: translateY(100px);    
  }

.fixed-background {
    height: 600px;
    width: 100vw;
    background: url('https://s3.amazonaws.com/usc-cache.salvationarmy.org/bb69ef3d-1ab6-43a8-a202-c2ad69fa742f_homelesshug.jpg') no-repeat center center fixed;
    background-size: cover;
}

.fixed-overlay {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgba(255,255,255,.69);
    height: 100%;
    width: 100%;
    font-size: 2em;
    font-weight: 800;
}

.fixed-overlay img, .fixed-overlay div {
    cursor: pointer;
}

.corps-section {
    background-color: white;
    width: 80%;
    max-width: 1425px;
    min-width: 280px;
    margin: 40px auto;
    padding: 20px;
}

#jump {
    color: white; 
    font-size: 2em;
    transition: transform 50ms;
    animation: jump 2s 8;
  }
  @keyframes jump {
    0% { transform: translateY(10px) }
    50% { transform: translateY(0px) }
    100% { transform: translateY(10px) }
  }
  .close-button {
    padding: 10px;
    border-radius: 50%;
    color: white;
    font-weight: 100;
    font-family: helvetica neue, sans-serif;
    font-size: 2em;
    cursor: pointer;
  }
  .ssbox {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 20px;
    width: 40% !important;
    min-width: 275px;
    padding: 20px;
    box-shadow: 0px 0px 5px #6e6e6e;
    -moz-box-shadow: 0px 0px 5px #6e6e6e;
    -webkit-box-shadow: 0px 0px 5px #6e6e6e;    
  }
  .staff-row {
   width: 90%;
    margin: 0 auto;
    display: flex; 
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
  }
  .staff-card {
    background-color: white;
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    width: 250px;
    margin: 10px 5px;
          box-shadow: 0px 0px 5px black; 
      -webkit-box-shadow: 0px 0px 5px black; 
      -moz-box-shadow: 0px 0px 5px black; 
  }

  .staff-card p, .staff-card img {
    margin-bottom: 5px; 
    text-align: center;
    width: 100%;
  }
  .staff-card p:nth-child(1) {
   color: red; 
  }
  #contact {
   margin-top: -5px;
    padding-top: 10px;
  }
  .contact-row {
    width: 100%;
    margin: 40px auto;
    display: flex;
    Justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    
  }
  .contact-box {
      width: 35%;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  .contact-box div:nth-of-type(3n + 2), .contact-box div:nth-of-type(3n), .contact-box div:nth-of-type(2n) {
      border: none;
      margin: 0 auto;
  }
  .ul {
    text-decoration: underline;
    padding-bottom: 5px;
  }
  .map {
    width: 50%;
    height: max-content;
    height: -webkit-max-content;
    height: -moz-max-content;
    margin: 0 25px; 
    min-width: 380px;
    max-width: 800px;
  }
  .list div {
    font-size: 20px;
    color: black;
    text-align: center;
  }
  .list {
    width: 100%;
    margin: 10px auto;
  }
  .intro-box-title {
   font-size: 30px;
   margin-bottom: 20px;
    text-align: center;
    color: #000000;
    margin: 10px auto;
    padding: 10px;
    border: 2px solid black;
    max-width: 1175px;
  }
  .intro {
    box-shadow: 100px 0px 100px black; -webkit-box-shadow: 100px 0px 100px black; -moz-box-shadow: 100px 0px 100px black;
   width: 100%;
   background-color: white;
    display: flex;
    flex-direction: column;
  }
  .intro-text {
      width: 90%;
      margin: 0 auto;
      font-size: 22px;
      max-width: 1175px;
  }
  .quote {
    line-height: 130%;
   font-size: 60px;
   color: black;
   padding: 45px 0px;
  }
  .intro-logo img {
    width: 100%; 
    min-width: 210px;
  }
  .red {
    color: #fc3a3a; 
  }
  .intro-box {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 40%;
    max-width: 580px;
    padding: 20px;
  }
  .intro-logo {
    width: 20%;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  #intro-button {
    width: 50%;
  }
  @media (max-width: 1400px) {
    .quote {
     font-size: 50px; 
    }
  }
    @media (max-width: 1200px) {
    .quote {
     font-size: 42px; 
    }
      .map {
        width: 80%; 
      }
  }
    @media (max-width: 1000px) {
    .quote {
     font-size: 35px; 
    }
      .intro-logo img {
        align-self: flex-end; 
        margin-bottom: 50px;
      }
  }
      @media (max-width: 855px) {
    .quote {
     font-size: 35px; 
    }
      .intro-logo {
        display: none; 
      }
      .intro-box {
        width: 50%; 
      }
  }
        @media (max-width: 680px) {
    .quote {
     font-size: 30px; 
    }
          .intro-box-title {
            font-size: 22px; 
          }
  }
  @media (max-width: 400px) {
          .quote {
            font-size: 24px;
            padding: 20px 0px;
          }
          .intro-box-title {
            font-size: 18px; 
            margin-bottom: 10px;
          }
          .list div {
            font-size: 16px; 
          }
          .into-box {
            padding: 15px;
          }
    #intro-button {
      width: 90%;
    }
  }
  
  .document-container a {
   text-decoration: none;
    font-size: .8em;
    color: white;
   }
  .document-container {
    width: 44%;
    min-width: 140px;
    max-width: 750px;
  }
  .document-hover-box {
    height: 100%;
    width: 100%;
    background-color: rgba(0,0,0,0.6);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    z-index: 5;
    opacity: 1;
    padding: 5px;
    transition: opacity 300ms;
    color: white;
  }
  .document-container img {
    width: 100%; 
  }
  @media (max-width: 1080px){
      .document-container {
          width: 75%;
      }
  }

  @media (max-width: 580px){
      .document-container {
          width: 90%;
      }
  }
  .youtube-container {
    width: 560px;
    height: 315px;
    margin: 0 auto;
  }
  #youtube-mobile {
   display: none; 
  }
  @media (max-width: 570px){
    #youtube-mobile{ display: initial; }
    #youtube-desktop { display: none; } 
    .youtube-container {
      width: 300px;
      height: 170px;
    }
  }
  #emi-programs {
    padding: 40px 0;
  }
  .volunteer-box {
    display: flex;
    width: fit-content;
    flex-direction: column;
    background-color: white;
    padding: 20px;
    max-width: 85%;
    margin: 20px auto;
  }
  .volunteer-box div {
   width: 100%;
  }
  .volunteer-box:first-child {
    font-size: 1.2em;
  }
  .view-container-border, .mv-daynames-table, .ui-rtsr-unselected {
   background-color: #fc3a3a !important; 
  }
  .st-dtitle {
   background: rgba(231, 47, 52, 0.38) !important; 
  }
	.shadow {
      box-shadow: 0px 0px 5px; 
      -webkit-box-shadow: 0px 0px 5px; 
      -moz-box-shadow: 0px 0px 5px; 
    }
  .broad-shadow {
       box-shadow: 0px 0px 20px #6e6e6e;
    -moz-box-shadow: 0px 0px 20px #6e6e6e;
    -webkit-box-shadow: 0px 0px 20px #6e6e6e; 
  }
    .broad-shadow-black {
       box-shadow: 0px 0px 20px black;
    -moz-box-shadow: 0px 0px 20px black;
    -webkit-box-shadow: 0px 0px 20px black; 
  }
   .row-cards {
    display: flex;
    flex-wrap: wrap;
    max-width: 1425px;
    justify-content: space-around;
     margin: 40px auto;
  }
  .overlay-box {
  opacity: 0;
  background-color: rgba(8, 7, 7, 0.71);
  color: white;
  font-size: 24px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 100%;
  height: 100%;
    transition: opacity 300ms;
    text-decoration: underline;
}
.overlay-box a {
    color: red;
}
.overlay-box:hover {
  opacity: 1;
}
  .image-bg-box:hover > .small-overlay-text {
       background-color: rgba(8, 7, 7, 0.71);
  }
  .image-bg-box {
    width: 400px;
    height: 300px;
    display: flex;
    flex-direction: column-reverse;
    margin: 20px 50px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
  }
  .small-overlay-text {
    font-size: 35px;
    color: white;
    line-height: 110%;
    padding: 15px;
    text-align: center;
           background-color: rgba(8, 7, 7, 0.71);
        transition: background-color 300ms;
  }
  #pathway {
    background-image: url('https://s3.amazonaws.com/usc-cache.salvationarmy.org/d13397d6-91fb-46b5-b673-32da409acddb_rl_ph005.jpg');
  }
  #echo {
    background-image: url('https://photos-1.dropbox.com/t/2/AABFc3rySme7JEBS6GsDLlvvxff1xjQv1JWuLAp37vnO7Q/12/76647191/jpeg/32x32/1/_/1/2/classy__0002_TSAO_background.jpg/EJn8uTsYocoFIAIoAg/d-oCMky_7LPnl32ptAFU140AmKbeWaTzEH_-jHV3CAQ?size=2048x1536&size_mode=3'); 
  }
  #babc {
    background-image: url('https://s3.amazonaws.com/usc-cache.salvationarmy.org/eac919ab-ed96-48a8-9e42-dd5f87530570_DSC_1029wbw.jpg'); 
  }
  #wblac {
    background-image: url('https://s3.amazonaws.com/usc-cache.salvationarmy.org/b2c699c0-8658-4079-9290-6cdd8ed36c22_WBLAC_2.jpg'); 
  }
  #harbor {
    background-image: url('https://s3.amazonaws.com/usc-cache.salvationarmy.org/0ce6783d-7679-4fe2-901f-8ecf4203bebb_B_W_hands_with_wedding_band.png'); 
  }
  #arc {
    background-image: url('https://s3.amazonaws.com/usc-cache.salvationarmy.org/49bded5e-ef91-4b11-8476-8a16d70cfe08_shelter.jpg'); 
  }
  .title {
  font-size: 35px;
  text-align: center;
  margin: 40px 0;
}
  i {
   transition: all 300ms; 
  }
   #footer {
     position: fixed;
     bottom: 0;
     left: 0;
     z-index: -101;
    background-color: #332E27;
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-items:center;
    padding: 20px;
  }
  .footer-links {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  .link-box {
    width: 225px; 
    display: flex;
    flex-direction: column;
    color: grey;
    padding: 20px;
    margin: 0 20px;
  }
  .footer-link a {
    color: red;
    text-decoration: none;
  }
  .footer-link a:hover {
    color: red;
    cursor:pointer;
  }
  .title-box {
   display: flex;
   justify-content: space-between;
    align-items: center;
   width: 95%;
  }
  .section-title {
    font-size: 50px;
    text-align: center;
    color: black;
    margin: 20px;
  }
  
  #video-background {
    /*  making the video fullscreen  */
      position: fixed;
      top: 0;
      /* left:50%; */
      min-width: 100vw; 
      min-height: 100%;
      width: 100vw !important;
      height: 100%;
      overflow: hidden;
      /* transform: translate(-50%, -50%); */
      z-index: -100;
    background-image: url('https://s3.amazonaws.com/usc-cache.salvationarmy.org/73a8dbd6-cf0e-4a28-abd8-506abf3fe246_Home-Page-background-photo.jpg');
    background-image: url('https://s3.amazonaws.com/usc-cache.salvationarmy.org/9ee89cfc-02e2-49ae-8e23-8b15276bf9c0_RedKettleReason2015_SnowfallKids.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    background-color: black;
    transition: 15000ms transform;
    transform: scale(1.1);
  }
  
  .overlay {
    position: absolute;
    top:0;
    width: 100%;
    height: 100%;
    z-index: -99;
    display: flex;
    justify-content: center;
    align-items: center;
    /* background: linear-gradient(to bottom, rgba(255, 255, 255, .5), rgba(238, 58, 67, 0.41)); */
    background-color: rgba(0,0,0,.3)
  }
    
  #everything-under-top {
    position: absolute;
    top:100%;
    width: 100%;
}
  
  #det {
          position: fixed;
      top: 0;
      /* left:50%; */
      min-width: 100vw; 
      min-height: 100%;
      width: 100vw !important;
      height: 100%;
      overflow: hidden;
      /* transform: translate(-50%, -50%); */
      z-index: -102;
      background-color: black;
    }

   .title-box {
   display: flex;
   justify-content: center;
    align-items: center;
      margin-top: 10px;
  }
  .section-title {
    font-size: 50px;
    text-align: center;
    color: black;
    margin: 20px;
  }
  .ways-row {
    display: flex;
    justify-content: center;
    align-items:center;
    flex-wrap: wrap;
    margin: 0px auto;
  }
  .ways-we-help {
    width: 350px;
    box-shadow: 0px 0px 20px #6e6e6e;
    -moz-box-shadow: 0px 0px 20px #6e6e6e;
    -webkit-box-shadow: 0px 0px 20px #6e6e6e;

    background-color: white;

    margin: 20px;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items:center;
    justify-content: space-around;
  }
  

  .box-title h2 {
    border-bottom: 2px solid red;
    margin: 40px auto;
    padding: 20px;
    line-height: 140%;
    font-size: 30px;
    color: black;
    text-align: center;
    width: 50%;
    max-width: 1425px;
    min-width: 90%;
  }
  .box-sub-title, .box-sub-title h2 {
    margin: 20px auto;
    padding: 20px;
    line-height: 140%;
    font-size: 25px;
    color: black;
    text-align: center;
    width: 50%;
    max-width: 1425px;
    min-width: 90%;
    text-decoration: none;
  }
  .ways-description-title {
    font-size: 30px;
    text-align:center;
    margin: 10px 20px;
    line-height: 125%;
  }
  .ways-description {
    font-size: 18px;
    margin: 10px 20px;
    text-align: center;
  }
  .ways-we-help-button {
    padding: 10px;
    background-color: #FC3a3a;
    width: 80%;
    color: white;
    font-size: 20px;
    text-align: center;
    margin: 10px auto 10px auto;
    		cursor: pointer;
  }

  .ways-we-help-button a {
     color: white;
    font-size: 20px;
    text-align: center;
    text-decoration: none;
  }
  
  .general-header {
    z-index: 2;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100vw;
/*    background-color: rgba(77, 77, 77, 0.397); */
    padding:10px 0;
    position: absolute;
    top: 0;
    box-shadow: 0px 0px 5px black;
    -webkit-box-shadow: 0px 0px 5px black;
    -moz-box-shadow: 0px 0px 5px black;
}

  #header {
    background-color: #0000008f; 
    transition: all 2000ms;
  }

#header-sticky {
    background-color: white;
position: fixed;
top: 0;
color: black;
padding: 20px 0;
  transition: 300ms padding;
z-index: 1000;
border-bottom: 2px solid red;
}
  
  .header-title {
    font-size: 26px;
  }
  
  .header-title-main {
    font-size: 25px; 
    color: white;
      }

#overlay {
    height: 30% !important;
    margin: 20px 40px;
/*    background-color: rgba(0,0,0,.75);
    box-shadow: 0px 0px 5px black;
    -webkit-box-shadow: 0px 0px 5px black;
    -moz-box-shadow: 0px 0px 5px black; 
    transition: all 2000ms;
    opacity: 0;
  transform: translateY(20px); */
}
/* #footer {
    font-family: sans-serif;         
} */

#menu-container {
    position: fixed;
    right:0;
    transform: translateX(100%);
    width: 100%;
    height: 100%;
    background-color: #332E27;
    transition: 500ms transform ease-in-out;
    display: flex;
  z-index:1000;
}

.menu-options-container {
    display: flex;
    flex-direction: column;
    width: 80%;
    padding-right: 20px;
}

.menu-option {
  padding: 30px 30px 30px 60px;
    border-bottom: 1px solid grey;
    color: white;
    font-size: 22px; 
    display: flex;
  flex-direction: column;
    justify-content: space-around;
}
  
  .close-menu-section {
    width: 20%; 
  }
  
  .menu-option a {
    color: white;
    text-decoration: none;
  }
  
  .option, .option a {
   	transition: all 400ms; 
    text-decoration: none;
  }
  
  .menu-sub-option {
    width: 90%;
    font-size: .7em;
    padding: 15px 0 0 0;
    margin: 15px 0 0 0;
    border-top: 1px solid grey;
    align-self: center;
    transition: all 400ms;
  }
  
 
  
  .option:hover, .option a:hover {
     color: rgb(238, 58, 67);
     cursor: pointer;
     transform: scale(1.01);
  }

  
  .menu-sub-option:hover {
    width: 100%; 
    color: rgb(238, 58, 67);
    cursor: pointer;
  }
  
.logo img {
    height: 50px;
    margin: 0 20px;
}

.top-section {
    height: 100%;
}

.nav-link, .nav-link a {
    font-size: 25px;
    color:white;
    cursor: pointer;
  transition: color 400ms;
  transition: transform 400ms;
  text-decoration: none;
  white-space: nowrap;
}
  .nav-link, .sticky-nav-link {
    margin-left: 20px; 
  }
.sticky-nav-link, .sticky-nav-link a {
    cursor: pointer;
    font-size: 20px;
    color:black;
    transition: color 400ms;
  transition: transform 400ms;
  text-decoration: none;
    white-space: nowrap;
}
  
    
  .sticky-nav-link:hover .svg-inline--fa, .sticky-nav-link:hover .sticky-nav-link i {
      color: rgb(238, 58, 67);
      cursor: pointer;
  }
  
  .sticky-nav-link:hover {
    text-decoration: underline; 
  }

.flex {
    display: flex;
    align-items: center;
}

.header-links {
    width: 50%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin: 0 40px;
}
  
  .connect-stripe {
    background-color: white;
    padding: 50px;
    display: flex;
    align-items:center;
    flex-direction:column;
    justify-content: space-around;
    box-shadow: 0px 30px 30px black;
    -webkit-box-shadow: 0px 30px 30px black;
    -moz-box-shadow: 0px 30px 30px black;
  }
  
  .top-stripe {
        background-color: white;
    padding: 20px;
    display: flex;
    align-items:center;
    flex-direction:column;
    justify-content: space-around; 
  }
  
  .menu-nav-button {
   display: none; 
  }
  
  @media (max-width: 1530px) {
    .sticky-nav-link {
      margin-left: 20px; 
      font-size: 16px;
    }
    
  }
    @media (max-width: 1325px) {
    .sticky-nav-link {
      margin-left: 20px; 
      font-size: 16px;
    }
    .header-title {
     display: none; 
    }
    
  }
      @media (max-width: 1090px) {
    .sticky-nav-link {
      margin-left: 20px; 
      font-size: 16px;
      display: none;
    }
    .menu-nav-button {
     display: initial !important; 
    }
    .header-title {
      display: initial; 
      font-size: 20px;
      text-align: center;
    }
    
  }


  #sched {
   display: none; 
  }
@media screen and (max-width: 768px) {
  .volunteer-box {
    padding: 10px;
    max-width: 90%;
  }
  #intro-button {
   width: 90%; 
  }
  #google-schedule, #sch {
   display: none; 
  }
  #sched {
   display: initial; 
  }
}

    @media screen and (max-width: 980px) {

      #locations, #donate, #locations-sticky, #donate-sticky {
        display: none; 
      }
      .contact-box div:first-of-type {
        width: 90%;
    }
    }
  @media (max-width: 400px) {
    #everything-under-top {
      margin-bottom: 0px !important;
    }
    #volunteer, #blog, #church {
     padding-top: 1px !important; 
    }
    .ways-description {
     padding: 10px; 
    }
    .map {
     min-width: 0px;
     width: 90%;
    }
    .image-bg-box {
      margin: 20px; 
    }
  }
  .row-cards {
    justify-content: center; 
  }

  @media (max-width: 600px){
      .intro-box-title {
          width: 90%;
      }
      #volunteer {
          padding-top: 10px !important;
      }
      .ssbox {
          width: 80% !important;
      }
      .contact-box {
          width: 90%;
          margin-bottom: 20px;
      }
      .contact-box div:first-of-type {
          width: inherit;
      }
  }